#content {
    min-width: 0;
    .sub {
        min-width: 0;
        background: linear-gradient(
            180deg,
            rgb(from var(--coverColor) r g b / 25%) 0%,
            transparent 6em
        );
        transition: --coverColor 0.5s;
    }
}
