@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overview {
    position: relative;
    height: 24em;
    overflow: hidden;

    opacity: 0;
    &.loaded {
        opacity: 1;
        animation: fadeIn 0.5s;
    }

    .background {
        width: 100%;
        height: 100%;
        filter: blur(1024px) brightness(0.6);
        object-fit: cover;
    }

    .content {
        display: flex;
        align-items: end;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding: 2em;
        gap: 2em;
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 2em;
    min-height: 24em;
}

.topSongs {
    display: flex;
    flex-direction: column;
    gap: 1em;

    animation: fadeIn 0.5s;

    .controls {
        margin-bottom: 1em;
    }

    .showMore {
        width: max-content;
        margin: 0 2em;
        color: var(--gray-1200);
        font-weight: bold;

        &:hover {
            color: var(--gray-1400);
        }
    }
}

.albums {
    display: flex;
    flex-direction: column;
    gap: 1em;

    animation: fadeIn 0.5s;

    .list {
        display: flex;
        flex-wrap: wrap;
    }
}
