main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.albumList {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .title {
        font-size: 1.5em;
        line-height: normal;
        margin: 0 0 0 0.75em;
    }

    .carousel {
        display: flex;
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
    }
}