.slider {
    position: relative;
    height: 1em;
    user-select: none;
    cursor: pointer;
    font-size: var(--font-size-sm);
}

.sliderTrack {
    background-color: var(--gray-200);
    border-radius: 1em;
    width: 100%;
    height: 33%;
    overflow: hidden;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sliderProgress {
    background-color: var(--gray-1600);
    width: 100%;
    height: 100%;
    border-radius: inherit;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% + 100% * var(--sliderValue, 0)));

    .slider:hover & {
        background-color: var(--tint-1200);
    }

    .slider[aria-disabled="true"] & {
        display: none;
    }
}

.sliderThumb {
    background-color: var(--gray-1600);
    border-radius: 50%;
    width: 1em;
    height: 1em;

    position: absolute;
    top: 0%;
    left: calc(100% * var(--sliderValue, 0));
    transform: translateX(-50%);

    display: none;

    .slider:hover & {
        display: block;
    }

    .slider[aria-disabled="true"] & {
        display: none;
    }
}
