@use "/node_modules/modern-normalize/modern-normalize.css";
@use "./theme.scss";
@use "./typography.scss";
@use "./utils.scss";

body {
    // background: var(--background-color);
    background: black;
    color: white;
    min-height: 0;
    width: 100vw;
    height: 100vh;
}

#root {
    min-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    overflow: auto;

    margin: 1em;
    background: var(--background-color);
    border-radius: 1em;
    position: relative;
}
