@use "/node_modules/modern-normalize/modern-normalize.css";
@use "./theme.scss";
@use "./easings.css";
@use "./reset.css";
@use "./typography.scss";
@use "./utils.scss";

body {
    // background: var(--background-color);
    background: black;
    color: white;
    min-height: 0;
    width: 100vw;
    height: 100vh;
}

#root {
    min-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em
}

#content {
    flex: 1;
    overflow: auto;

    background: var(--background-color);
    --coverColor: var(--background-color);

    border-radius: 0.5em;
    position: relative;
}

@property --coverColor {
    syntax: '<color>';
    initial-value: #000;
    inherits: true;
}
