@use "/node_modules/modern-normalize/modern-normalize.css";
@use "./theme.scss";
@use "./typography.scss";
@use "./utils.scss";

body {
    background: var(--background-color);
    color: white;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flow-root;
}
