body {
    /* improve font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* by default it is 16px, but just to be sure */
    font-size: 16px;
}

h1 {
    font-size: 3em;
    font-weight: 800;
    margin: 0;
}
