body {
    /* improve font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: var(--font-size);
}

h1 {
    font-size: 3em;
    font-weight: 800;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    line-height: normal;
}