body {
    /* improve font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* by default it is 16px, but just to be sure */
    font-size: var(--font-size);
}

h1 {
    font-size: 3em;
    font-weight: 800;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}
