.author:has(.coverArt) {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    height: 1.5em;
    color: var(--gray-1600);
    font-weight: bold;

    .coverArt {
        border-radius: 100%;
    }
}
