.item {
    display: flex;
    gap: 0.75em;
    padding: 0.5em;
    height: 4em;
    border-radius: 0.5em;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25em;
        color: var(--gray-900);

        white-space: nowrap;
        text-overflow: ellipsis;

        .title {
            color: var(--gray-1600);
        }
    }
}

.link:hover {
    text-decoration: none;

    background-color: var(--gray-100);

    .info {
        color: var(--gray-1600);
    }
}
