.overview {
    display: flex;
    height: 16em;
    padding: 3em 1em 1em 1em;
    gap: 1em;
    background: linear-gradient(
        180deg,
        rgb(from var(--coverColor) r g b / 75%) 0%,
        rgb(from var(--coverColor) r g b / 40%) 100%
    );
    transition: --coverColor 0.5s;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 0.25em;

        .title {
            display: block;
            font-size: clamp(
                2em,
                calc((100cqw - 32em) / var(--text-length)),
                6em
            );
            font-weight: 900;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .items {
            display: inline-flex;
            align-items: center;
            gap: 0.25em;
            color: var(--gray-1200);

            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }
}
