.songTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;

    /* cells */
    .track {
        display: flex;
        justify-content: center;

        width: 3em;
    }

    .song {
        flex-grow: 1;
    }

    .album {
        justify-content: center;
        width: 16em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--gray-900);
    }

    .favorite {
        display: flex;
        justify-content: center;
        width: 3em;

        & > svg {
            width: 1.25em;
        }
    }

    .duration {
        display: flex;
        justify-content: center;
        width: 5em;
        color: var(--gray-900);

        & > svg {
            width: 1.25em;
        }
    }

    .playCount {
        /* grid would be very useful here */
        width: 3em;
        color: var(--gray-900);
        text-align: end;
    }

    .options {
        width: 2em;

        & > svg {
            color: var(--gray-1200);
            width: 1.25em;

            &:hover {
                transform: scale(1.1);
                color: var(--gray-1600);
            }

            &:active {
                transform: scale(0.95);
                color: var(--gray-1100);
            }
        }
    }

    /* table parts (head and body) */
    .header {
        display: flex;
        width: 100%;
        justify-items: center;
        align-items: center;
        padding: 0.5em 0em;
        color: var(--gray-900);
        border-bottom: 1px solid var(--gray-100);
        margin-bottom: 1em;
    }

    .body {
        display: flex;
        flex-direction: column;
        width: 100%;

        .row {
            all: unset;
            display: flex;
            justify-items: center;
            align-items: center;
            width: 100%;
            height: 4em;
            padding: 0 0em;
            cursor: pointer;

            .track {
                color: var(--gray-900);

                .playIcon {
                    display: none;
                    width: 1.25em;
                    fill: currentColor;
                }
                .pauseIcon {
                    display: none;
                    width: 1.25em;
                    fill: currentColor;
                }
            }

            .song {
                height: 4em;
            }

            .favorite,
            .options {
                opacity: 0;
            }

            &:hover {
                background-color: rgb(255, 255, 255, 0.1);
                border-radius: 0.25em;

                .artist {
                    color: var(--gray-1600);
                }

                .album {
                    color: var(--gray-1600);
                }

                .favorite,
                .options {
                    opacity: 1;
                }

                .track {
                    color: var(--gray-1600);
                    .trackNumber {
                        display: none;
                    }
                    .playIcon {
                        display: inline;
                    }
                }
            }

            &[data-selected="true"] {
                .song .title {
                    color: var(--tint-1200);
                }

                .track {
                    color: var(--tint-1200);
                }

                &[data-playing="true"]:hover .track {
                    .playIcon {
                        display: none;
                    }
                    .pauseIcon {
                        display: inline;
                    }
                }
            }
        }
    }
}
