.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        user-select: none;
        margin: 0.25em 1em;
    }

    .middle {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-100);
        width: 3em;
        height: 3em;
        border-radius: 100%;
        color: var(--gray-1000);
    }

    .search {
        display: flex;
        align-items: center;
        background-color: var(--gray-100);
        height: 3em;
        color: var(--gray-1000);
        padding: 1em;
        border-radius: 2em;
        width: 28em;
        gap: 1em;

        font-weight: 500;
        user-select: none;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5em;
        height: 2.5em;
        background-color: var(--gray-100);
        border-radius: 100%;
        margin: 0 1em;

        color: var(--gray-1000);
        & > svg {
            width: 1.5em;
            height: 1.5em;
            fill: currentColor;
        }
    }
}
