.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    .buttons {
        display: flex;
        gap: 1em;
    }

    .progress {
        display: flex;
    }
}
