.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    max-width: 48em;
    width: 40%;

    .buttons {
        display: flex;
        align-items: center;
        gap: 1.25em;

        button {
            display: flex;
            background-color: transparent;
            outline: none;
            border: none;
            padding: 0;

            --color: var(--gray-1200);
            color: var(--color);
            font-size: 1.5em;
            width: 1em;
            height: 1em;

            > svg {
                width: 1em;
                height: 1em;

                &.fill {
                    fill: var(--color);
                }
            }

            &:hover {
                --color: var(--gray-1600);
                transform: scale(1.1);
            }

            &:active {
                --color: var(--gray-600);
                transform: scale(1);
            }

            &.loop {
                &.one,
                &.queue {
                    --color: var(--tint-1200);

                    &:active {
                        --color: var(--tint-900);
                    }
                }
            }

            &.shuffled {
                --color: var(--tint-1200);

                &:active {
                    --color: var(--tint-900);
                }
            }
        }

        .playPause {
            --color: var(--gray-1600);
            background-color: var(--color);
            border-radius: 100%;
            padding: 0.25em;
            width: 1.5em;
            height: 1.5em;

            > svg {
                color: black;
                fill: black;
            }

            &:active {
                --color: var(--gray-1200);
            }
        }
    }

    .progress {
        display: flex;
        align-items: center;
        gap: 1em;
        font-size: var(--font-size-sm);
        color: var(--gray-1200);
        width: 100%;

        .slider {
            width: 100%;

            .buffer {
                background-color: var(--gray-400);
                left: calc(100% * var(--bufferStart, 0));
                width: calc(100% * var(--bufferLength, 0));
                transform: none;
            }
        }

        .currentTime,
        .duration {
            width: 4em;
        }

        .currentTime {
            text-align: right;
        }
    }
}
